<!DOCTYPE html>
{% extends "base.html" %}

{% block app_content %}
<html>
<head>
  <title>Browser Extension: treetrav Link Saver</title>
</head>
<body>

<h2>Browser Extension: <em>treetrav</em> Link Saver</h2>
<p>Extend the power of <em>treetrav</em> to your browser with our convenient browser extension – the <strong>treetrav Link Saver</strong>. This extension simplifies the process of saving and sharing links from your browser to <em>treetrav</em>, making link management even more efficient.</p>

<h3>Key Features of the Extension:</h3>

<h4>Post Current Tab to <em>treetrav</em></h4>
<p>With a simple click, users can effortlessly post the link of their current browser tab directly to <em>treetrav</em>. No need to navigate away from your browsing session to save important links.</p>

<h4>Post All Tabs in the Current Window</h4>
<p>Users can also post links from all tabs open in the current browser window with just a few clicks. Streamline your link organization and share multiple links at once.</p>

<h4>Supported Browsers</h4>
<p>The <em>treetrav Link Saver</em> extension is currently available on the following browsers:</p>
<ul>
  <li><a href="https://chrome.google.com/webstore/detail/treetrav-extension/ianeljnfikmpceofkdbefpbplhldilff">Chrome</a></li>
  <li><a href="https://addons.mozilla.org/en-US/firefox/addon/treetrav-extension/">Firefox</a></li>
</ul>

<p>Download the extension for your preferred browser and enhance your link management experience with <em>treetrav</em>!</p>

<h3>How to Install the Extension:</h3>

<ol>
  <li><strong>Google Chrome:</strong>
    <ul>
      <li>Click <a href="https://chrome.google.com/webstore/detail/treetrav-extension/ianeljnfikmpceofkdbefpbplhldilff">here</a> to visit the Chrome Web Store.</li>
      <li>Click "Add to Chrome" and then "Add extension" to install the <em>treetrav Link Saver</em>.</li>
    </ul>
  </li>

  <li><strong>Mozilla Firefox:</strong>
    <ul>
      <li>Click <a href="https://addons.mozilla.org/en-US/firefox/addon/treetrav-extension/">here</a> to visit the Firefox Add-ons page.</li>
      <li>Click "Add to Firefox" and then "Add" to install the <em>treetrav Link Saver</em>.</li>
    </ul>
  </li>
</ol>

<p>Stay connected and efficiently manage your links across the web using the <em>treetrav Link Saver</em> browser extension. Happy linking!</p>

</body>
</html>
{% endblock %}