<!DOCTYPE html>
{% extends "base.html" %}

{% block app_content %}
<html>

<head>
  <title>About treetrav</title>
</head>

<body>

  <h1>Welcome to <em>treetrav</em></h1>
  <p>A revolutionary web application designed to make link organization, sharing, and exploration a seamless and
    personalized experience. <em>treetrav</em>, currently in its beta version, was founded in 2023 to meet the growing
    need for a comprehensive link management solution that goes beyond mere bookmarking.</p>

  <br>

  <h2>Key Features</h2>

  <h3>Link Organization and Sharing</h3>
  <p>With <em>treetrav</em>, users can effortlessly save, categorize, and manage their links within customizable
    folders. This intuitive folder system helps users keep their links organized and easily accessible.</p>

  <p>Moreover, <em>treetrav</em> enables users to share entire folders with others, allowing for collaborative curation
    and seamless information sharing.</p>

  <h3>Personalized Profiles</h3>
  <p>Users have the ability to personalize their profiles to match their preferences and privacy needs. Whether it's
    going private, adding a profile picture, or switching to dark mode for a more comfortable viewing experience,
    <em>treetrav</em> provides the tools to tailor the platform to individual preferences.</p>

  <h3>Leaf Creation - Quick HTML Pages</h3>
  <p>In addition to organizing links, <em>treetrav</em> offers a unique feature called <strong>"leafs,"</strong> which
    allows users to create quick HTML pages using the popular markdown language. This feature gives users the power to
    craft simple web pages within the platform, adding a layer of customization to their content.</p>

  <h3>Discover and Follow</h3>
  <p><em>treetrav</em> encourages users to explore new content and connect with others who share similar interests.
    Users can follow those they find intriguing, enabling them to view the latest links posted by their followed users
    on their personalized home page.</p>

  <br>

  <h2>Our Vision</h2>
  <p>At <em>treetrav</em>, we envision a future where link management and content curation are effortless and enjoyable
    experiences. Our mission is to continuously improve and expand our platform, incorporating user feedback to create a
    tool that enhances productivity, collaboration, and knowledge sharing.</p>

  <p>Join us on this exciting journey as we refine and develop <em>treetrav</em> into a leading platform that transforms
    the way we interact with online content.</p>

  <a href="https://treetrav.com/feed">Get started with treetrav</a>

</body>

</html>
{% endblock %}