# generic stuff needs to be ignored
*venv/
__pycache__/
*.pyc
logs/
*.log
.env
*.db
unsized/

# user defined 

# ignore all pictures uploaded to profile_pics/
app/static/profile_pics/*.png
app/static/profile_pics/*.jpg
app/static/profile_pics/*.jpeg
# ignore all favicons 
app/static/favicons/*.png

# server specific
certs/
