.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px; 
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: none;
}

/* Customize textboxes */
.my-form textarea {
    height: 37px; /* Adjust the width as needed */
    max-width: 100%;
    max-height: 37px;
    min-width: 100%;
    min-height: 37px;
}

.btn {
    background-color: rgb(248, 248, 248);
    color: #5a9b16;
}

.btn:hover {
    outline-color: #888;
    color: #5a9b16;
}

.btn-delete {
    background-color: rgb(248, 248, 248);
    color: red;
    border-color: #ccc;
}

.btn-delete:hover {
    outline-color: #888;
    color: red;
    background-color: rgb(230, 230, 230);
}

.navbar-default .navbar-brand {
    color: #5a9b16;
}

.when-text {
    opacity: 0.7; /* You can adjust the opacity value */
    font-weight: 250; /* You can adjust the font-weight value */
}

.folder-path-link {
    color: #888; /* Use the desired grey color code */
    font-weight: 250;
    text-decoration: none; /* Remove underline from links */
}
.folder-path-link:hover {
    text-decoration: none; /* Remove underline from links */
}


.user-link {
    color: #888;
    font-weight: 600;
}
.user-link:hover {
    text-decoration: none
}


.user-link-green {
    color: #5a9b16;
    font-weight: 600;
}
.user-link-green:hover {
    text-decoration: none
}
/*
.posted-link-text:hover {
    text-decoration: none
}
*/

.posted-description-text {
    color: black;
    font-weight: bold;
}

.userpage-folder-text{
    color: #888;
    font-weight: 600;
    text-decoration: none;
}
.userpage-folder-text:hover{
    text-decoration: none;
    font-weight: 600;
}

.username-profile-text {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.userpage-counts-text {
    color: #888;
}

.userpage-counts {
    color: #000000;
    font-weight: 600;
}

.green-check-icon{
    margin-left: 0px;
    vertical-align: top;
}

/* .current_folder{
    color: #888;
} */

.green-button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    color: #5a9b16;
    background-color: #fafbfc;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
}


.green-button:hover {
    color: #5a9b16;
    background-color: #f0f0f0;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.1) 0px 1px 0px 0px, rgba(255, 255, 255, 0.03) 0px 1px 0px 0px inset;
    transition-duration: 0.1s;
    text-decoration: none;

}


.green-button-container {
    display: flex;
    gap: 10px;
}

.green-button-container-top-right {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.approve-button-container {
    display: flex;
    gap: 10px; 
}

.requestor-info-container{
    display: flex;
    gap: 10px; 
    margin-left: 20px;
}

/* Popup */
.hidden{
    display: none;
}

/* Copy Account popup */
.copy-popup {
    color: #5a9b16;
    z-index: 1; /* Ensure the popup is on top of other elements */
  }

/* Delete Account Popup */
#confirmation-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.popup-message {
    display: block;
    margin-bottom: 10px;
}


.horizontal-align-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leaf-form textarea{
    height: 211px; /* Adjust the width as needed */
    max-width: 1118px;
    max-height: 211px;
    min-width: 1118px;
    min-height: 211px;
}


.modal-header{
    border-bottom: none;
}


.modal-title {
    font-size: 1.75rem;
    color: #5a9b16;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center align the title */
    margin: auto; /* Center align the title horizontally */
}


.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.close {
    padding: 0.5rem;
    margin: 0;
}

/* fonts */
@font-face {
    font-family: 'FF Fago';
    src: url('/fonts/FF-Fago-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FF Fago';
    src: url('/fonts/FF-Fago-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}


.spinner-border {
    color: #5a9b16; 
}

/* pager related */
.pager {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.pager li {
    flex: 1;
    text-align: center;
}

.pager .previous {
    text-align: left;
}

.pager .next {
    text-align: right;
}

.pager .invisible {
    visibility: hidden;
}

.page-info {
    font-weight: bold;
}

/* User */
.verified-icon-wrapper {
    position: relative;
    display: inline-block;
}

.verified-icon-wrapper::after {
    content: "Verified";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.verified-icon-wrapper:hover::after {
    opacity: 1;
    visibility: visible;
}

/* autocomplete suggestion */
#userSearchForm .form-group {
    position: relative;
}

#suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

#suggestions div {
    padding: 10px;
    cursor: pointer;
}

#suggestions div:hover {
    background-color: #f0f0f0;
}

/* footer */
footer {
    margin-top: auto;
}