<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<table class="table table-hover">
    <tr>
        <td width="25px">
            <a href="{{ url_for('main.user', username=folder.author.username) }}">
                <img width="25" height="25" src="https://img.icons8.com/3d-fluency/25/folder-invoices--v1.png" alt="folder-invoices--v1"/>
            </a>
        </td>
        <td>
            
            {% block post %}
            <a href="{{ url_for('main.user_subfolder', username=folder.author.username, path=folder.folder_link) }}" class="userpage-folder-text">
                {{ folder.folder_name }}
            </a> 
            {% endblock %}

            {{ _('<em class="when-text"> • %(when)s </em>', when=moment(folder.timestamp).fromNow(true)) }}

        </td>

        <td>
            {% block delete %}
            {% if current_user.id == folder.user_id%}
            
            <div style="text-align: right;"> 
            <form method="post" action="{{ url_for('main.delete_folder', folder_link=folder.folder_link ) }}">
                <button type="submit" style="border: 0; background: transparent; padding: 0; cursor: pointer; ">
                    <img src="https://img.icons8.com/ios/25/trash--v1.png" width="25" height="25" name="delete" />
                   </button>
            </form>
            </div>

            {% endif %}
            {% endblock %}

        </td>
        
    </tr>
</table>