<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<table class="table table-hover">
    <tr>
        <td width="25px">
            <a href="{{ post.link }}" target="_blank">
                
                {% set favicon = post.favicon_file_name %}
                {% if favicon %}
                    <img src="{{ url_for( 'static', filename='/favicons/' + favicon) }}" />
                {% else %}
                        <img src="{{  post.author.avatar(25)  }}" />
                {% endif %}



            </a>
        </td>
        <td style="max-width: 170px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
            {% set user_link %}
                <a href="{{ url_for('main.user', username=post.author.username) }}" class="user-link">
                    {{ post.author.username }}
                    {% if post.author.verified == True %} <img src="{{ url_for( 'static', filename='green_check16.png') }}" /> 
                    {% endif %}
                </a>
            {% endset %}
            {{ _(' %(username)s <em class="when-text"> • %(when)s </em>',
                username=user_link, when=moment(post.timestamp).fromNow()) }}
            <br>
            
            {% block post %}
                {% if post.body %} <a href="{{ post.link}}" target="_blank" class="posted-link-text">
                    {% if post.body | length > 75 %}
                        {{ post.body[:75] }}...
                    {% else %}
                        {{ post.body }}
                    {% endif %}
                </a> 
                {% else %}   <a href="{{ post.link}}" target="_blank" class="posted-link-text">
                    {% if post.link | length > 75 %}
                        {{ post.link[:75] }}...
                    {% else %}
                        {{ post.link }}
                    {% endif %}
                </a> 
                {% endif %}
            {% endblock %}
            

        </td>
        

        {% block folder_path %}
        {% if current_user.id != post.user_id%}
            {% set folder_path = post.folder_link %}
            <td style="text-align: right;">
                <div class="favorite-copy-container" style="display: flex; align-items: center; justify-content: flex-end; gap: 10px;"> 

                {% if folder_path == "/" or not folder_path%}
                    <a href="{{ url_for('main.user', username=post.author.username) }}"  class="folder-path-link" style="margin-right: 15px;" > 
                        {{ _('<em class="folder-path-text"> %(folder_path)s </em>', folder_path=folder_path )}}
                    </a>
                {% else %}
                    <a href="{{ url_for('main.user_subfolder', username=post.author.username, path=folder_path) }}"  class="folder-path-link" style="margin-right: 15px;">
                        {% if folder_path | length >= 30 %} 
                            {{ _('<em class="folder-path-text">
                                .../%(folder_path)s
                            </em>', folder_path=shorten_folder_path(folder_path) )}}
                        {% else %}
                            {{ _('<em class="folder-path-text">
                                /%(folder_path)s
                            </em>', folder_path=folder_path )}}                        
                        {% endif %}
                    </a>
                {% endif %}
                
                {% if current_user.get_id() %}
                    {% if current_user.is_favorite(post) %}
                    <form method="post" action="{{ url_for('main.unfavorite_post', post_id=post.id ) }}">
                        <button type="submit" style="border: 0; background: transparent; padding: 0; cursor: pointer; ">
                            <img width="25" height="25" src="https://img.icons8.com/fluency/25/filled-star.png" name="favorite"/>
                            </button>
                    </form>
                    {% else %}
                    <form method="post" action="{{ url_for('main.favorite_post', post_id=post.id ) }}">
                        <button type="submit" style="border: 0; background: transparent; padding: 0; cursor: pointer; ">
                            <img width="25" height="25" src="https://img.icons8.com/windows/25/star--v1.png" name="unfavorite"/>
                            </button>
                    </form>
                    {% endif %}
                {% endif %}

                <button type="submit" style="border: 0; background: transparent; padding: 0; cursor: pointer;" onClick="copyToClipboard('{{post.link}}')">
                    <img width="25" height="25" src="https://img.icons8.com/glyph-neue/25/copy.png" alt="copy"/>
                </button>

                </div>
            </td>
            
        {% endif %}
        {% endblock %}


        
        {% block delete %}
        {% if current_user.id == post.user_id%}
        <td style="text-align: right;"> 
            <div class="garbage-copy-container" style="display: flex; align-items: center; justify-content: flex-end; gap: 10px;">
                <form method="post" action="{{ url_for('main.delete_post', post_id=post.id ) }}">
                    <button type="submit" style="border: 0; background: transparent; padding: 0; cursor: pointer; margin-right: 0px;">
                        <img src="https://img.icons8.com/ios/25/trash--v1.png" width="25" height="25" name="delete" />
                    </button>
                </form>
            
                <button type="submit" style="border: 0; background: transparent; padding: 0; cursor: pointer;" onClick="copyToClipboard('{{post.link}}')">
                    <img width="25" height="25" src="https://img.icons8.com/glyph-neue/25/copy.png" alt="copy"/>
                </button>
            </div>
           
        </td>
        {% endif %}
        {% endblock %}
      
    </tr>
</table>


{% block scripts %}
<script>
    function copyToClipboard(link) {
        navigator.clipboard.writeText(link)
    }
</script>
{% endblock %}