<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<table class="table table-hover">
    <tr>
        <td width="25px">
            <a href="{{ post.link }}" target="_blank">
                
                {% set favicon = post.favicon_file_name %}
                {% if favicon %}
                    <img src="{{ url_for( 'static', filename='/favicons/' + favicon) }}" />
                {% else %}
                        <img src="{{  post.author.avatar(25)  }}" />
                {% endif %}

            </a>
        </td>
        <td>
            {% block post %}
            {% if post.body %} <a href="{{ post.link}}" target="_blank" class="posted-link-text">
                {% if post.body | length > 75 %}
                    {{ post.body[:75] }}...
                {% else %}
                    {{ post.body }}
                {% endif %}
            </a> 
            {% else %}   <a href="{{ post.link}}" target="_blank" class="posted-link-text">
                {% if post.link | length > 75 %}
                    {{ post.link[:75] }}...
                {% else %}
                    {{ post.link }}
                {% endif %}
            </a> 
            {% endif %}
            {% endblock %}
            
            {% set when_text = moment(post.timestamp).fromNow() %}
            {{ _('<em class="when-text"> • %(when)s</em>', when=when_text )}}
        </td>
                
        
        <td style="text-align: right;"> 
            <div class="favorite-copy-container" style="display: flex; align-items: center; justify-content: flex-end; gap: 10px;"> 
            {% if current_user.get_id() %}
                {% block options %}
                {% if current_user.id == post.user_id%}
                
                    
                    <form method="post" action="{{ url_for('main.delete_post', post_id=post.id ) }}">
                        <button type="submit" style="border: 0; background: transparent; padding: 0; cursor: pointer; ">
                            <img src="https://img.icons8.com/ios/25/trash--v1.png" width="25" height="25" name="delete" />
                        </button>
                    </form>
                {% else %}
                    {% if current_user.is_favorite(post)  %}
                    <form method="post" action="{{ url_for('main.unfavorite_post', post_id=post.id ) }}">
                        <button type="submit" style="border: 0; background: transparent; padding: 0; cursor: pointer; ">
                            <img width="25" height="25" src="https://img.icons8.com/fluency/25/filled-star.png" name="favorite"/>
                            </button>
                    </form>
                    {% else %}
                    <form method="post" action="{{ url_for('main.favorite_post', post_id=post.id ) }}">
                        <button type="submit" style="border: 0; background: transparent; padding: 0; cursor: pointer; ">
                            <img width="25" height="25" src="https://img.icons8.com/windows/25/star--v1.png" name="unfavorite"/>
                            </button>
                    </form>
                {% endif %}
                

                {% endif %}
                {% endblock %}

            {% endif %}

            <button type="submit" style="border: 0; background: transparent; padding: 0; cursor: pointer;" onClick="copyToClipboard('{{post.link}}')">
                <img width="25" height="25" src="https://img.icons8.com/glyph-neue/25/copy.png" alt="copy"/>
            </button>
            </div>
        </td>
        


        
    </tr>
</table>


{% block scripts %}
<script>
    function copyToClipboard(link) {
        navigator.clipboard.writeText(link)
    }
</script>
{% endblock %}