<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<table class="table table-hover">
    <tr>
        <td width="25px">
            <a href="{{ post.link }}" target="_blank">
                
                {% set favicon = post.favicon_file_name %}

                {% set profile_pic = set_mini_profile_pic_filename(post.author.profile_pic) ~ '_mini_25.png' %}
                {% if favicon %}
                    <img src="{{ url_for( 'static', filename='/favicons/' + favicon) }}" />
                {% elif profile_pic and pic_exists(profile_pic) %}
                    <img src="{{ url_for( 'static', filename='/profile_pics/' + profile_pic) }}" />
                {% else %}
                    <img src="{{  post.author.avatar(25)  }}" />
                {% endif %}

            </a>
        </td>
        <td style="max-width: 170px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
            {% block post %}
            {% if post.body %} <a href="{{ post.link}}" target="_blank" class="posted-link-text">
                {% if post.body | length > 75 %}
                    {{ post.body[:75] }}...
                {% else %}
                    {{ post.body }}
                {% endif %}
            </a> 
            {% else %}   <a href="{{ post.link}}" target="_blank" class="posted-link-text">
                {% if post.link | length > 75 %}
                    {{ post.link[:75] }}...
                {% else %}
                    {{ post.link }}
                {% endif %}
            </a> 
            {% endif %}
            {% endblock %}
            
            {% set when_text = moment(post.timestamp).fromNow() %}
            {{ _('<em class="when-text"> • %(when)s</em>', when=when_text )}}
        </td>
                
        
        <td style="text-align: right;"> 
            <div class="favorite-copy-container" style="display: flex; align-items: center; justify-content: flex-end; gap: 10px;"> 
            {% if current_user.get_id() %}
                {% block options %}
                {% if current_user.id == post.user_id%}
                
                    
                    <form method="post" action="{{ url_for('main.delete_post', post_id=post.id ) }}">
                        <button type="submit" style="border: 0; background: transparent; padding: 0; cursor: pointer; ">
                            <img src="https://img.icons8.com/ios/25/trash--v1.png" width="25" height="25" name="delete" />
                        </button>
                    </form>
                {% else %}
                    {% if current_user.is_favorite(post)  %}
                    <form method="post" action="{{ url_for('main.unfavorite_post', post_id=post.id ) }}">
                        <button type="submit" style="border: 0; background: transparent; padding: 0; cursor: pointer; ">
                            <img width="25" height="25" src="https://img.icons8.com/fluency/25/filled-star.png" name="favorite"/>
                            </button>
                    </form>
                    {% else %}
                    <form method="post" action="{{ url_for('main.favorite_post', post_id=post.id ) }}">
                        <button type="submit" style="border: 0; background: transparent; padding: 0; cursor: pointer; ">
                            <img width="25" height="25" src="https://img.icons8.com/windows/25/star--v1.png" name="unfavorite"/>
                            </button>
                    </form>
                {% endif %}
                

                {% endif %}
                {% endblock %}

            {% endif %}

            <button type="submit" style="border: 0; background: transparent; padding: 0; cursor: pointer;" onClick="copyToClipboard('{{post.link}}', this)">
                <img width="25" height="25" src="https://img.icons8.com/glyph-neue/25/copy.png" alt="copy"/>
            </button>
            </div>
        </td>
        


        
    </tr>
</table>


{% block scripts %}
<script>
    function copyToClipboard(link, button) {
        // Disable the button
        button.disabled = true;

        navigator.clipboard.writeText(link)

        // Get the button's position relative to its offset parent
        const buttonRect = button.getBoundingClientRect();

        // Create a new element for the popup
        const copyPopup = document.createElement('div');
        copyPopup.textContent = 'Copied!';
        copyPopup.classList.add('copy-popup');

        // Set the position of the popup
        const popupTop = button.offsetTop - copyPopup.offsetHeight - 10;
        const popupLeft = button.offsetLeft + (button.offsetWidth - copyPopup.offsetWidth) / 2;
        copyPopup.style.top = popupTop + 'px';
        copyPopup.style.left = popupLeft + 'px';

        // Append the popup to the button's parent element
        button.parentElement.parentElement.appendChild(copyPopup);
        
        // Hide the popup after a short delay (e.g., 2 seconds)
        setTimeout(() => {
            copyPopup.classList.add("hidden");
            // Enable the button
            button.disabled = false;
        }, 2000);
    }
</script>
{% endblock %}