
{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TTGSNM6P');</script>
    <!-- End Google Tag Manager -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
        html, body {
            height: 100%;
        }
        h2 {
            margin: 0;
            color: black;
            font-size: 26px;
        }
        body {
            display: flex;
            flex-direction: column;
        }
        .content-wrapper {
            flex: 1 0 auto;
            padding-bottom: 30px; /* Space between content and footer */
        }
        footer {
            flex-shrink: 0;
            background-color: #ffffff; /* White background for the footer */
            color: #343a40; /* Dark text color for contrast */
            padding: 20px 0;
            margin-top: auto; /* Pushes the footer to the bottom */
        }
        footer a {
            color: #007bff; /* Link color in footer */
        }
    </style>
{% endblock %}

{% block body %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TTGSNM6P"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{ super() }}
{% endblock %}

{% block title %}
    {% if title %}{{ title }} - treetrav{% else %}{{ _('treetrav') }}{% endif %}
{% endblock %}



{% block navbar %}
{% if current_user.dark_mode == True  %}
<link rel="stylesheet" href="{{ url_for('static', filename='dark.css') }}">
{% else %}
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
{% endif %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.home') }}">treetrav</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.feed') }}">{{ _('Feed') }}</a></li>
                    <li><a href="{{ url_for('main.discover') }}">{{ _('Discover') }}</a></li>
                </ul>
                <form id="userSearchForm" class="navbar-form navbar-left" method="get" action="{{ url_for('main.search') }}">
                    <div class="form-group">
                        {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text, id='userSearchInput') }}
                        <div id="suggestions"></div>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('auth.login') }}">{{ _('Login') }}</a></li>
                    {% else %}
                    <li><a href="{{ url_for('main.user', username=current_user.username) }}">{{ _('Profile') }}</a></li>
                    <li><a href="{{ url_for('main.settings') }}">{{ _('Settings') }}</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        const searchInput = document.getElementById('userSearchInput');
        const suggestionsContainer = document.getElementById('suggestions');

        searchInput.addEventListener('input', function() {
            const query = this.value;
            if (query.length > 2) {
                fetch(`/api/suggestions?q=${encodeURIComponent(query)}`)
                    .then(response => response.json())
                    .then(data => {
                        suggestionsContainer.innerHTML = '';
                        data.forEach(suggestion => {
                            const div = document.createElement('div');
                            div.textContent = suggestion;
                            div.addEventListener('click', function() {
                                // Navigate to the user's profile page
                                window.location.href = `/user/${encodeURIComponent(suggestion)}`;
                            });
                            suggestionsContainer.appendChild(div);
                        });
                        
                        // Position the suggestions container
                        const inputRect = searchInput.getBoundingClientRect();
                        suggestionsContainer.style.width = inputRect.width + 'px';
                        suggestionsContainer.style.display = 'block';
                    });
            } else {
                suggestionsContainer.innerHTML = '';
                suggestionsContainer.style.display = 'none';
            }
        });

        document.addEventListener('click', function(event) {
            if (event.target !== searchInput && event.target !== suggestionsContainer) {
                suggestionsContainer.innerHTML = '';
                suggestionsContainer.style.display = 'none';
            }
        });
    });


    </script>
{% endblock %}
