{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ _('Edit Profile') }}</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <br>
    <div style="text-align: left;" class="edit_profile_back"> 
        <form method="post" action="{{ url_for('main.user', username=form.username.data ) }}">
            <button type="submit" style="border: 0; background: transparent; padding: 0; cursor: pointer; ">
                <img src="{{ url_for( 'static', filename='backarrow.png') }}" width="25" height="25" name="back" />
            </button>
        </form>
    </div>
{% endblock %}