<footer class="bg-dark text-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5><strong>About Us</strong></h5>
                <p>Link Sharing on Steroids</p>
            </div>
            <div class="col-md-4">
                
            </div>
            <div class="col-md-4">
                <h5><strong>Contact Us</strong></h5>
                <p><a href="mailto:treetrav.info@gmail.com" class="text-light">treetrav.info@gmail.com</a></p>
                <!-- <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div> -->
            </div>
        </div>
    </div>
</footer>
