{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<div class="container mt-5">
    <header class="text-center mb-5">
        <h1 class="display-4" style="color: #5a9b16;">Link Sharing on Steroids</h1>
        <p class="lead">Twitter meets bookmarks. Post, categorize, and share links in custom folders</p>
    </header>

    <section class="sample-profiles mb-5">
        <h2 class="text-center mb-4">Sample Profiles</h2>
        <div class="row mb-4">
            <div class="col-md-6">
                <div class="card">
                    <img src="{{ url_for('static', filename='treetrav_profile.png') }}" class="card-img-top" alt="Profile 2" style="width: 90%; height: auto; display: block; margin-left: auto; margin-right: auto;">
                    <div class="card-body text-center">
                        <a href="{{ url_for('main.user', username='treetrav') }}" class="green-button">View Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img src="{{ url_for('static', filename='robertberwick.png') }}" class="card-img-top" alt="Profile 2" style="width: 90%; height: auto; display: block; margin-left: auto; margin-right: auto;">
                    <div class="card-body text-center">
                        <a href="{{ url_for('main.user', username='RobertBerwick') }}" class="green-button">View Profile</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img src="{{ url_for('static', filename='wsj.png') }}" class="card-img-top" alt="Profile 3" style="width: 90%; height: auto; display: block; margin-left: auto; margin-right: auto;">
                    <div class="card-body text-center">
                        <a href="{{ url_for('main.user', username='WallStreetJournal') }}" class="green-button">View Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img src="{{ url_for('static', filename='timferriss.png') }}" class="card-img-top" alt="Profile 4" style="width: 90%; height: auto; display: block; margin-left: auto; margin-right: auto;">
                    <div class="card-body text-center">
                        <a href="{{ url_for('main.user', username='TimFerrissBookRecomendations') }}" class="green-button">View Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>




    <section class="features mb-5">
        <h2 class="text-center mb-4">Features</h2>
        <div class="row mb-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body" style="text-align: center;">
                        <h4 class="card-title" style="font-weight: bold;">Post a link on your homepage or a specific folder</h4>
                        <h5 class="card-text">In private mode only followers can see it</h5>
                    </div>
                    <img src="{{ url_for('static', filename='feature1.png') }}" class="card-img-top" alt="Feature 1" style="width: 80%; height: auto; display: block; margin-left: auto; margin-right: auto;">
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body" style="text-align: center;">
                        <h4 class="card-title" style="font-weight: bold;">Rename, move or copy any folder</h4>
                        <h5 class="card-text">The action will apply to all the links in the folder</h5>
                    </div>
                    <img src="{{ url_for('static', filename='feature2.png') }}" class="card-img-top" alt="Feature 2" style="width: 70%; height: 50%; display: block; margin-left: auto; margin-right: auto;">
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row mb-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body" style="text-align: center;">
                        <h4 class="card-title" style="font-weight: bold;">Share folders</h4>
                        <h5 class="card-text">Have multiple people post links to a shared folder</h5>
                    </div>
                    <img src="{{ url_for('static', filename='feature3.png') }}" class="card-img-top" alt="Feature 3" style="width: 90%; height: 50%; display: block; margin-left: auto; margin-right: auto;">
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body" style="text-align: center;">
                        <h4 class="card-title" style="font-weight: bold;">Chrome and Firefox Extension</h4>
                        <h5 class="card-text">Post links with 1 click</h5>
                    </div>
                    <img src="{{ url_for('static', filename='feature4.png') }}" class="card-img-top" alt="Feature 6" style="width: 50%; height: 50%; display: block; margin-left: auto; margin-right: auto;">
                </div>
            </div>
        </div>
    </section>
    






    
    <br> 
    <br>
    <section class="extensions mb-5">
        <h2 class="text-center mb-4">Download Our Browser Extensions</h2>
        <div class="d-flex flex-column align-items-center">
            <div class="text-center mb-5">
                <img src="{{ url_for('static', filename='chrome_logo.png') }}" alt="Chrome Logo" style="width: 180px; height: auto; display: inline-block; margin-bottom: 20px;">
                <div>
                    <a href="https://chromewebstore.google.com/detail/treetrav-extension/ianeljnfikmpceofkdbefpbplhldilff" class="green-button" target="_blank">Download for Chrome</a>
                </div>
            </div>
            <br>
            <div class="text-center">
                <img src="{{ url_for('static', filename='firefox_logo.png') }}" alt="Firefox Logo" style="width: 100px; height: 100px; display: inline-block; margin-bottom: 20px;">
                <div>
                    <a href="https://addons.mozilla.org/en-US/firefox/addon/treetrav-extension/" class="green-button" target="_blank">Download for Firefox</a>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>
    <section class="cta text-center mb-5">
        <h2>Transform the way you save, organize and share links</h2>
        <p class="lead">Join for free today!</p>
        <a href="{{ url_for('auth.register') }}" class="green-button">Sign Up Now!</a>
    </section>
</div>

{% include 'footer.html' %}
{% endblock %}
