<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<table class="table table-hover">
    <tr>
        {% block inbound_sharer %}

        
        <td> 
            <div class="requestor-info-container" style="display: inline-flex; justify-content: space-between;">
                <a href="{{ url_for('main.user', username=share.sharer.username) }}" >
                            <img src="{{  share.sharer.avatar(25)  }}" />
                </a>

                <a class=user-link href="{{ url_for('main.user', username=share.sharer.username) }}">
                    {{ share.sharer.username }}  {% if share.sharer.verified == True %} <img src="{{ url_for( 'static', filename='green_check16.png') }}"  /> {% endif %}
                </a>
            </div>

            <div class="requestor-info-container" style="display: inline-flex; justify-content: space-between;">
                Shared from:
                <a class=user-link-green href="{{ url_for('main.user_subfolder', username=share.sharer.username, path=share.sharer_folder_path) }}" >
                    <em>   /{{ share.sharer_folder_path }} </em>
                </a>
            </div>

            <div class="requestor-info-container" style="display: inline-flex; justify-content: space-between; ">
                Mounted on:
                <a class=user-link-green href="{{ url_for('main.user_subfolder', username=current_user.username, path=share.sharee_folder_path) }}" >
                        <em>   /{{ share.sharee_folder_path }} </em>
                </a>
            </div>

        </td>


        {% endblock %}
    </tr>
</table>