<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<table class="table table-hover">
    <tr>
        {% block outbound_sharee %}

        
        <td> 
            <div class="requestor-info-container" style="display: inline-flex; justify-content: space-between;">
                <a href="{{ url_for('main.user', username=share.sharee.username) }}" >
                    {% set profile_pic = set_mini_profile_pic_filename( share.sharee.profile_pic) ~ '_mini_25.jpg' %}
                    {% if profile_pic and pic_exists(profile_pic) %}
                        <img src="{{ url_for( 'static', filename='/profile_pics/' + profile_pic) }}" />
                    {% else %}
                        <img src="{{  share.sharee.avatar(25)  }}" />
                    {% endif %}
                            
                </a>

                <a class=user-link href="{{ url_for('main.user', username=share.sharee.username) }}">
                    {{ share.sharee.username }}  {% if share.sharee.verified == True %} <img src="{{ url_for( 'static', filename='green_check16.png') }}"  /> {% endif %}
                </a>
            </div>

            <div class="requestor-info-container" style="display: inline-flex; justify-content: space-between;">
                Shared from:
                <a class=user-link-green href="{{ url_for('main.user_subfolder', username=current_user.username, path=share.sharer_folder_path) }}" >
                    <em> /{{ share.sharer_folder_path }} </em>
                </a>
            </div>

            <div class="requestor-info-container" style="display: inline-flex; justify-content: space-between;">
                Mounted on:
                <a class=user-link-green href="{{ url_for('main.user_subfolder', username=share.sharee.username, path=share.sharee_folder_path) }}" >
                         <em> /{{ share.sharee_folder_path.strip('/') }} </em>
                </a>
            </div>

        </td>

        <td style="text-align: right;"> 
            <div class="garbage-copy-container" style="display: flex; align-items: center; justify-content: flex-end; gap: 10px;">
                <form method="post" action="{{ url_for('main.remove_outbound_share', sharee_id=share.sharee_id, sharer_id=share.sharer_id, 
                         sharer_folder_path=share.sharer_folder_path, sharee_folder_path=share.sharee_folder_path)  }}">
                    <button type="submit" style="border: 0; background: transparent; padding: 0; cursor: pointer; margin-right: 0px;">
                        <img src="https://img.icons8.com/ios/25/clear-symbol--v1.png" width="25" height="25" name="delete" />
                    </button>
                </form>
            </div>           
        </td>


        {% endblock %}
    </tr>
</table>