{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<div style="text-align: left;" class="settings_back"> 
    <form method="get" action="{{ url_for('main.user', username=form.username.data) }}">
        <button class="btn" type="submit" style="border: 0; background: transparent; padding: 0; cursor: pointer; ">
            <img src="{{ url_for('static', filename='backarrow.png') }}" width="25" height="25" name="back" />
        </button>
    </form>
</div>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Settings</title>
    <style>
        /* Styles for the tabs */
        .tab {
            overflow: hidden;
            border-bottom: 1px solid #ccc; /* Add a black horizontal line under tabs */
        }

        .tab button {
            background-color: #fff;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 10px 20px;
            transition: 0.3s;
        }

        .tab button:hover {
            background-color: #fff;
            border:#ccc;
        }

        .tab button.active {
            background-color: #fff;
            border: 1px solid #ccc; /* Add border for active tab */
            border-bottom-color: #fff;/* Remove bottom border for active tab */
        }

        /* Styles for the tab content */
        .tabcontent {
            display: none;
            padding: 20px;
            border: 1px solid #fff;
        }
    </style>
</head>
<body>

<div class="tab">
    <button class="tablinks active" onclick="openTab(event, 'Settings')">Settings</button>
    <button class="static_link" onclick="navigateToSharedFolders()">Shared Folders</button>
    <button class="static_link" onclick="navigateToActions()">Actions</button>
    <button class="static_link" onclick="navigateToLeafs()">Leafs</button>


</div>

<div id="Settings" class="tabcontent" style="display: block;">
    <div class="row">
        <div class="col-md-4">
            <form method="post" enctype="multipart/form-data" action="{{ url_for('main.settings') }}" class="my-form">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.display_name.label(class="form-label") }}
                    {{ form.display_name(class="form-control", id="display_name") }}
                </div>
                <div class="form-group">
                    {{ form.username.label(class="form-label") }}
                    {{ form.username(class="form-control", id="username") }}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control", id="email") }}
                </div>
                <div class="form-group">
                    {{ form.about_me.label(class="form-label") }}
                    {{ form.about_me(class="form-control", id="about_me") }}
                </div>
                <div class="form-group">
                    {{ form.description_text_color.label(class="form-label") }}
                    {{ form.description_text_color(class="form-control", type="color", id="description_text_color") }}
                </div>
                <div class="form-group">
                    {{ form.picture.label(class="form-label") }}
                    {{ form.picture(class="form-control-file", id="picture") }}
                </div>
                <div class="form-group">
                    {{ form.private_mode.label(class="form-check-label") }}
                    {{ form.private_mode(class="form-check-input", id="private_mode") }}
                </div>
                <div class="form-group">
                    {{ form.dark_mode.label(class="form-check-label") }}
                    {{ form.dark_mode(class="form-check-input", id="dark_mode") }}
                </div>
                <div class="form-group">
                    {{ form.submit(class="green-button") }}
                </div>
                <br>
            </form>
        </div>
    </div>
    <br>
    <form id="delete-account-form" action="{{ url_for('main.delete_account', user_id=current_user.id) }}" method="post" onsubmit="return false;">
        {{ form.hidden_tag() }}
        <input type="button" value="{{ _('Delete Account') }}" class="btn btn-delete" onclick="showConfirmationPopup()" />
    </form>
    
    <div id="confirmation-popup" class="hidden">
        <div class="popup-content">
            <span class="popup-message">Are you sure you want to delete your account? This action cannot be undone.</span>
            <button class="btn btn-delete" onclick="deleteAccount('{{current_user.id}}')">Yes, Delete Account</button>
            <button class="btn green-button" onclick="hideConfirmationPopup()">Cancel</button>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    var originalUsername = '{{ current_user.username }}';
    var originalEmail = '{{ current_user.email }}';
    var originalDisplayName = '{{ current_user.display_name }}';

    $('.my-form').on('submit', function(e) {
        e.preventDefault();

        // Clear previous error messages and remove error class
        clearErrors();

        var isValid = true;
        var username = $('#username').val().trim();
        var email = $('#email').val().trim();
        var displayName = $('#display_name').val().trim();
        var aboutMe = $('#about_me').val().trim();
        const usernameMaxLength = 30;
        const emailMaxLength = 140;
        const displayNameMaxLength = 30;
        const aboutMeMaxLength = 140;
        const forbiddenUsernames = {{ forbidden_usernames | tojson }};

        // Validate username
        if (username !== originalUsername) {
            if (username.length === 0) {
                showError('username', 'Username is required.');
                isValid = false;
            } else if (username.length > usernameMaxLength) {
                showError('username', 'Username must be ' + usernameMaxLength +' characters or less.');
                isValid = false;
            } else if (!/^[a-zA-Z0-9_-]+$/.test(username)) {
                showError('username', 'Username must only contain letters, numbers, underscores, and hyphens.');
                isValid = false;
            } else if (!/^[a-zA-Z].*$/.test(username)) {
                showError('username', 'Username must start with a letter.');
                isValid = false;
            } else if (forbiddenUsernames.includes(username.toLowerCase())) {
                        showError('username', 'This username is not allowed.');
                        isValid = false;
            } else {
                // Check if username already exists
                $.ajax({
                    url: '{{ url_for("main.check_username") }}',
                    type: 'POST',
                    data: { username: username },
                    async: false,
                    success: function(response) {
                        if (response.exists) {
                            showError('username', 'Username already exists.');
                            isValid = false;
                        }
                    }
                });
            }
        }

        // Validate email
        if (email !== originalEmail) {
            if (email.length === 0) {
                showError('email', 'Email is required.');
                isValid = false;
            } else if (email.length > emailMaxLength) {
                showError('email', 'Email must be ' + emailMaxLength + ' characters or less.');
                isValid = false;
            } else if (!/\S+@\S+\.\S+/.test(email)) {
                showError('email', 'Please enter a valid email address.');
                isValid = false;
            }else {
                // Check if username already exists
                $.ajax({
                    url: '{{ url_for("main.check_email") }}',
                    type: 'POST',
                    data: { email: email },
                    async: false,
                    success: function(response) {
                        if (response.exists) {
                            showError('email', 'Email already exists.');
                            isValid = false;
                        }
                    }
                });
            }
        }

        // Validate display name
        if (displayName !== originalDisplayName) {
            if (displayName.length > displayNameMaxLength) {
                showError('display_name', 'Display Name must be ' + displayNameMaxLength + ' characters or less.');
                isValid = false;
            } else if (!/^[a-zA-Z0-9_\- ]+$/.test(displayName)) {
                showError('display_name', 'Display Name must only contain letters, numbers, underscores, hyphens, and spaces.');
                isValid = false;
            } else if (!/^[a-zA-Z].*$/.test(displayName)) {
                    showError('display_name', 'Display Name must start with a letter.');
                    isValid = false;
            }
        }

        // Validate about me
        if (aboutMe.length > aboutMeMaxLength) {
            showError('about_me', 'About Me must be ' + aboutMeMaxLength + ' characters or less.');
            isValid = false;
        }

        if (isValid) {
            // Show loading spinner and disable submit button
            $('input[type="submit"]').prop('disabled', true);

            $.ajax({
                url: $(this).attr('action'),
                type: 'POST',
                data: $(this).serialize(),
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                },
                success: function(response) {
                    // Clear any remaining error messages
                    clearErrors();
                    // Show success message
                    showSuccessMessage(response.message);
                },
                error: function(xhr, status, error) {
                    var errors = xhr.responseJSON;
                    for (var field in errors) {
                        showError(field, errors[field]);
                    }
                },
                complete: function() {
                    // re-enable submit button
                    $('input[type="submit"]').prop('disabled', false);
                }
            });
        }
    });

    // Remove is-invalid class when user starts typing
    $('.form-control').on('input', function() {
        $(this).removeClass('is-invalid');
        $(this).next('.invalid-feedback').text('');
    });

    function showError(fieldId, message) {
        $('#' + fieldId).addClass('is-invalid');
        var $errorElement = $('#' + fieldId + '_error');
        if ($errorElement.length === 0) {
            $errorElement = $('<div id="' + fieldId + '_error" class="invalid-feedback"></div>');
            $('#' + fieldId).after($errorElement);
        }
        $errorElement.text(message);
    }

    function clearErrors() {
        $('.invalid-feedback').text('');
        $('.form-control').removeClass('is-invalid');
        $('#successMessage').remove();
    }

    function showSuccessMessage(message) {
        // Remove any existing success message
        $('#successMessage').remove();
        
        // Create the success message
        var $successMessage = $('<div id="successMessage" class="alert alert-success">' + message + '</div>');
        
        // Insert the message at the top of the form
        $('.my-form').prepend($successMessage);
    }
});
</script>

<style>
.is-invalid {
    border-color: #dc3545 !important;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}
</style>



<script>
    function navigateToSharedFolders() {
        var url = "{{ url_for('main.shared_folders') }}";
        window.location.href = url;
    }

    function navigateToActions() {
        var url = "{{ url_for('main.actions') }}";
        window.location.href = url;
    }

    function navigateToLeafs() {
        var url = "{{ url_for('main.create_leaf') }}";
        window.location.href = url;
    }

</script>

<script>
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;

        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Open the default tab on page load
    document.getElementsByClassName("tablinks")[0].click();
</script>
    
<script>
    function showConfirmationPopup() {
        const confirmationPopup = document.getElementById('confirmation-popup');
        confirmationPopup.classList.remove('hidden');
    }

    function hideConfirmationPopup() {
        const confirmationPopup = document.getElementById('confirmation-popup');
        confirmationPopup.classList.add('hidden');
    }

    function deleteAccount(user_id) {
        // Handle account deletion logic here
        const url = `/account/delete/${user_id}`;

        fetch(url, {
            method: 'POST',
        })
        .then(response => response.json())
        .then(data => {
            console.log('Response from Flask:', data);
            // Handle the response data here
            // For demonstration purposes, let's just log a message
            console.log('Account deleted.');
            if (data.redirect_url) {
                window.location.href = data.redirect_url;
            }
        })
        .catch(error => {
            console.error('Error:', error);
            // Handle errors here
        });
        
        hideConfirmationPopup();
    }
</script>
</body>

{% include 'all_rights_reserved.html' %}

{% endblock %}
