{% extends "base.html" %}


{% block app_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <table class="table table-hover">
        <tr>
            <td width="180px"><img src="{{ user.avatar(155) }}"></td>
            <td>
                <h1 class="username-profile-text">{{ user.username }} {% if user.verified == True %}<img src="{{ url_for( 'static', filename='green_check32.png') }}" class="green-check-icon" /> {% endif %} </h1>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}
                <p>{{ _('Last seen') }}: {{ moment(user.last_seen).format('LL') }}</p>
                {% endif %}
                <p>
                    <a href="{{ url_for('main.get_following', username=user.username) }}"> 
                        <span class="userpage-counts">
                                {{ _('%(count)d', count=user.followed.count()) }}  </span>
                        <span class="userpage-counts-text">following</span></a>, 
                    <a href="{{ url_for('main.get_followers', username=user.username) }}">
                        <span class="userpage-counts">
                                {{ _('%(count)d', count=user.followers.count()) }}</span>
                        <span class="userpage-counts-text">followers</span></a>,
                    <a href="{{ url_for('main.get_favorites', username=user.username) }}"> 
                        <span class="userpage-counts">
                                    {{ _('%(count)d', count=user.favorites.count()) }}  </span>
                        <span class="userpage-counts-text">favorites</span></a>, 
                        <span class="userpage-counts"> {{ _('%(count)d', count=user.posts.count()) }} </span>
                        <span class="userpage-counts-text">links</span>
                </p>
                {% if current_user.get_id() %}
                    {% if user == current_user %}
                    <div class="green-button-container">
                        <a href="{{ url_for('main.settings') }}" class="green-button"> {{ _('Settings') }}</a>
                        {% if user.get_follow_requestors().count() > 0 %}
                            <a href="{{ url_for('main.get_follow_requests', username=user.username) }}" class="green-button"> {{ _('Requests') }}</a>
                        {% endif %}
                    </div>

                    {% elif not current_user.is_following(user) %}
                    <p>
                        <form action="{{ url_for('main.follow', username=user.username) }}" method="post">
                            {{ form.hidden_tag() }}
                            {{ form.submit(value=_('Follow'), class_='btn btn-default') }}
                        </form>
                    </p>
                    {% else %}
                    <p>
                        <form action="{{ url_for('main.unfollow', username=user.username) }}" method="post">
                            {{ form.hidden_tag() }}
                            {{ form.submit(value=_('Unfollow'), class_='btn btn-default') }}
                        </form>
                    </p>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    </table>
    {% for folder in folders %}
        {% include '_folder.html' %}
    {% endfor %}

    {% for post in posts %}
        {% include '_post_userpage.html' %}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Newer posts') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Older posts') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}